{
  "DATABASES_PROD": {
    "default": {
      "ENGINE": "django.db.backends.postgresql",
      "NAME": "postgres",
      "USER": "****",
      "PASSWORD": "****",
      "HOST": "****",
      "PORT": "5432"
    }
  },
  "DATABASES_LOCAL": {
    "default": {
      "ENGINE": "django.db.backends.sqlite3",
      "NAME": "db.sqlite3"
    }
  },
  "GMAIL_LOCAL": {
    "GMAIL_USER": "tomarm698@gmail.com",
    "GMAIL_PASSWORD": "***"
  },
  "GMAIL_PROD": {
    "GMAIL_USER": "tomarm698@gmail.com",
    "GMAIL_PASSWORD": "***"
  },
  "DRIVE": {
    "SERVICE_ACCOUNT_FILE_NAME": "****"
  },
}
