{% extends 'base.html' %}
{% block url_name %}Change Password{% endblock %}
{% block breadcrum %}
    <style>
  .card-container{
    width: 500px; 
    min-width: 500px;
    height: calc(100vh - 200px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    </style>
    <li class="breadcrumb-item">
        <a href="index.html">
            <i class="fa fa-user"></i></a>
    </li>
    <li class="breadcrumb-item">Profile</li>
    <li class="breadcrumb-item">
        <a href="/auth/change_password/change">Change Password</a>
    </li>
{% endblock %}
{% block title %}Change Password{% endblock %}
{% block body %}
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }} mx-3">{{ message }}</div>
        <script type="text/javascript">
setTimeout(function () {
    $('#alert').alert('close');
}, 4000);
        </script>
    {% endfor %}
    <form action="/auth/change_password/change/" method="POST">
        {% csrf_token %}
        <section style="background-color: transparent;">
            <center>
                <div class="card-container">
                    <div class="card">
                        <div class="card-body">
                            <center>
                                <h3 style="margin-top: 30px;">Change Your Password</h3>
                            </center>
                            <p></p>
                            <div class="row" style="margin:50px 0px ;">
                                <center>
                                    <input class="form-control"
                                           type="password"
                                           name="c-password"
                                           placeholder="Please Enter Current Password"
                                           style="width: 90%;
                                                  border-radius: 25px;
                                                  font-size: 20px"
                                           required>
                                </center>
                                <p></p>
                                <center>
                                    <input class="form-control"
                                           type="password"
                                           name="f-password"
                                           placeholder="Please Enter New Password"
                                           style="width: 90%;
                                                  border-radius: 25px;
                                                  font-size: 20px"
                                           required>
                                </center>
                                <p></p>
                                <center>
                                    <button class="btn btn-primary"
                                            type="submit"
                                            style="width: 90%;
                                                   border-radius: 25px;
                                                   font-size: 20px">Submit</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </section>
    </form>
{% endblock %}
