{% extends 'user_onboarding/base_user_login.html' %}
{% block content %}
    <style>
	.reset-password-container-wrapper{
		height: calc(100vh - 70px);
        
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.reset-password-container{
		border: 1px solid rgba(0,0,0,.125);
		width: 70%;
		box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.2);
	}
    </style>
    <nav class="navbar navbar-expand-lg" style="background-color: #166FE5;">
        <a href="/"
           class="navbar-brand mx-4"
           id="nav"
           style="font-weight:500;
                  font-size:3.4vh;
                  color:white">Demo</a>
    </nav>
    <!--Reset Password-->
    <div class="reset-password-container-wrapper">
        <center>
            <div class="container p-5 reset-password-container">
                <h2 class="font-weight-bold mt-3">Reset Password</h2>
                <hr>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST" action="/auth/forget_password/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Send email</button>
                </form>
            </div>
        </center>
    </div>
{% endblock %}
