<style>
  .active {
    background-color: #448aff;
  }

  .mx-4 {
    margin: 0px !important;
    padding: 0px 125px 0px 0px;
  }
  .mx-4 li {
    padding: 0px 0px 0px 23px;
  }
</style>
<nav class="pcoded-navbar">
  <div class="sidebar_toggle">
    <a href="#"><i class="icon-close icons"></i></a>
  </div>
  <div class="pcoded-inner-navbar main-menu">
    <div class="mt-3">
      <br />
      <br />
      <ul class="pcoded-item pcoded-left-item">
        <li>
          <a href="/auth/user_profile" class="waves-effect waves-dark">
            <span class="pcoded-micon"></span>
            <span class="pcoded-mtext" data-i18n="nav.form-components.main"
              >User Profile</span
            >
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
      </ul>
      <ul class="pcoded-item pcoded-left-item">
        <li>
          <a href="/table/v1/" class="waves-effect waves-dark">
            <span class="pcoded-micon"></span>
            <span class="pcoded-mtext" data-i18n="nav.form-components.main"
              >Table</span
            >
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
      </ul>
      <ul class="pcoded-item pcoded-left-item">
        <li>
          <a href="/table/v1/certificates/new" class="waves-effect waves-dark">
            <span class="pcoded-micon"></span>
            <span class="pcoded-mtext" data-i18n="nav.form-components.main"
              >Certificates</span
            >
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  $(document).ready(function () {
    var window_path;
    var entered = 0;
    if (window.location.pathname.trim().split('/').slice(-1)[0]) {
      window_path = window.location.pathname.split('/').slice(-1)[0];
    } else {
      window_path = window.location.pathname.split('/').slice(-2)[0];
    }
    var array1 = $('details').children('.mx-4');
    for (var i = 0; i < array1.length; i++) {
      var array2 = array1[i].childNodes;
      for (var j = 0; j < array2.length; j++) {
        var array3 = array2[j].childNodes;
        if (array3[1]) {
          if (array3[1].href.split('/').slice(-1)[0] == window_path) {
            $(array3[1]).parent().addClass('active-small');
            entered = 1;
          }
        }
      }
    }

    if (entered != 1) {
      console.log('entered2');
      var array1 = $('div').children('.pcoded-left-item');
      for (var i = 0; i < array1.length; i++) {
        var array2 = array1[i].childNodes;
        for (var j = 0; j < array2.length; j++) {
          var array3 = array2[j].childNodes;
          if (array3[1]) {
            var window_path;
            if (window.location.pathname.trim().split('/').slice(-1)[0]) {
              window_path = window.location.pathname.split('/').slice(-1)[0];
            } else {
              window_path = window.location.pathname.split('/').slice(-2)[0];
            }
            if (array3[1].href.split('/').slice(-1)[0] == window_path) {
              $(array3[1]).parent().addClass('active');
            }
          }
        }
      }
    }
  });
</script>
